<section class="container">
  <h1><%= @model['title'] %></h1>
<% if @model['description'] -%>
  <p><%= @model['description'] %></p>
<% end -%>
  <ul>
    <li>Az oldal fejlesztés alatt...</li>
  </ul>
</section>
