<section class="container">
  <h1><%= @model['title'] %></h1>
<% if @model['description'] -%>
  <p><%= @model['description'] %></p>
<% end -%>
  <h2>Történet</h2>
  <p>
    Bata Gábor vagyok, ez az weboldal pedig egy hobbi projekt,
    amelynek célja, hogy saját rajzaimat meg tudjam osztani
    a nagyérdeművel. Az már más kérdés, hogy tetszik-e, mindenesetre
    nekem segít kizökkenni a hétköznapok rutinjából.
  <p>
  </p>
    A cetekhez, bálnákoz, tetoválásokhoz (lásd a lenti szóviccet) nem túl sok köze van,
    inkább csak az ábrákhoz, rajzokhoz, innen az "ábrás" elnevezés.
    A "cet" meg csak a szóvicc kedvéért került bele, mert jól hangzik.
  </p>
  <blockquote>
    <p>&ndash; Hogy hívják a tetovált bálnát?<br>&ndash; Ábráscet.</p>
  </blockquote>
  <h2>Köszönet</h2>
  <p>Az oldal nem jöhetett volna létre az alábbi projektek nélkül:</p>
  <ul>
    <li>Milligram v1.3.0 (&copy; 2017 CJ Patoilo, MIT License)</li>
    <li>Pangolin Regular WebFont (&copy; 2016 The Pangolin Project Authors, SIL Open Font License)</li>
    <li>normalize.css v8.0.0 (&copy; Nicolas Gallagher and Jonathan Neal, MIT License)</li>
  </ul>
  <p>További köszönet illeti a GitHub, Ruby, Atom, GIMP készítőit is.</p>
</section>
