<section class="container">
  <h1 class="title">Title</h1>
  <p>Description</p>
  <p>
    <ul>
      <li><a href="#TODO">Todo1</a></li>
      <li><a href="#TODO">Todo2</a></li>
    </ul>
  </p>
</section>