<footer class="footer">
    <section class="container">
        <p>
            &copy; <%= Time.now.year %> <%= @model['site']['author'] %>.
            Az <%= @model['site']['name'] %> oldalon található tartalmak a
            <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.hu" target="_blank">Creative Commons Nevezd meg! - Ne add el! 3.0 Unported (CC BY-NC 3.0)</a> licenc alatt vannak.
        </p>
    </section>
</footer>
