<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= @model['site']['author'] %>">
    <meta name="description" content="<%= @model['site']['description'] %>">
    <title><%= @model['site']['name'] %></title>
    <link rel="stylesheet" href="asset/css/abrascet.css">
    <link rel="shortcut icon" href="asset/img/icon/favicon.png" />
</head>
