<section class="container">
  <h1 class="title">Title</h1>
  <p>Description</p>
  <p>
    <ul>
      <li><a href="<%= href @model['prev'] ? @model['prev'].link : '' %>"><%= @model['prev'] ? @model['prev'].model['title'] : '' %></a></li>
      <li><a href="<%= href @model['next'] ? @model['next'].link : '' %>"><%= @model['next'] ? @model['next'].model['title'] : '' %></a></li>
    </ul>
  </p>
</section>
