<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="#TODO">
      <img src="<%= href 'asset/img/icon/favicon.png' %>" class="img">
      &nbsp;
      <span class="title"><%= @model['site']['name'] %></span>
    </a>
    <a id="navigation-toggle" class="navigation-toggle float-right" href="#menu">Menu</a>
    <ul id="navigation-list" class="navigation-list float-right">
      <li class="navigation-item">
        <a class="navigation-link" href="#link1">Link1</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href="#link2">Link2</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href="#link3">Link3</a>
      </li>
    </ul>
  </section>
</nav>
